.App {
}

.App-header {
  text-align: center;
  background-color: #222;
  padding: 20px;
  color: white;
}

.container {
  width: 100%;
  max-width:1000px;
  margin: 0px auto;
  padding:0px 10px;
  clear:both;
}

.container-left {
  float:left;
  width:25%;
  padding-right:20px;
  box-sizing: border-box;
}
.container-right {
  float:left;
  width:75%;
}

.clear {
  clear: both;
}

h4 {
  font-size: 10px;
}


button {
    border: 1px solid #000;
    padding: 3px;
    color: #000;
    background-color: #eee;
    outline: none;
}
button.disabled {
    border: 1px solid #ddd;
    padding: 3px;
    background-color: #fff;
    color: #999;
    outline: none;
}
button.disabled:hover {
    background-color: #fff;
}


button.fade {
    background-color: transparent;
    position: relative;
}
button.fade.disabled {
    border: 1px solid #ddd;
    background-color: transparent;
}
button.fade .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: -1;
    transition-property: none;
    transition-timing-function: ease-in;
}
button.fade .bg.disabled {
    width: 0%;
}
button.fade .bg.animate {
    width: 100%;
    transition-property: width;
    background-color: #ddd;
}

.ceo-actions {
  margin-bottom:20px;
}
.ceo-actions button {
  margin-right: 5px;
}

.launch-actions {
  clear:both;
  float:left;
  margin:20px 0px;
  border: 1px solid #ccc;
  padding: 5px;
}

.launch-actions h2 {
  margin-top: 0px;
}

#usersPanel {
    clear:both;
    float:left;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 0px 0px 20px;
}
#usersPanel h3 {
  float:left;
  margin: 0px;
}
#usersPanel .invites {
  float:left;
}

#moneyPanel {
    clear:both;
    float:left;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
}

#resoursePanels {
  clear: both;
}
#resoursePanels .resoursePanel {
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 5px;
}
.resoursePanel h3 {
  margin-bottom: 5px;
}
.resoursePanel h4 {
  margin-top: 0px;
}

#assetsPanels {
    margin-top: 20px;
    float: left;
    clear: left;
}
#assetsPanels .assetPanel {
    float: left;
    margin-right: 20px;
    border: 1px solid #ccc;
    padding: 5px;
}

#messagePanel {
  float: left;
  clear:both;
}
#messagePanel h3 {
  margin-top: 0px;
}
#messagePanel span {
    display: block;
    width: 100%;
    color: #666;
}
#messagePanel span.error {
    color: #a70000;
}

#saveResetPanel {
  clear:both;
  float:left;
  margin:20px 0px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
#saveResetPanel button {
  margin-right: 10px;
}


.at-max {
  color: orange;
}
.over-max {
  color: red;
}
